{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article list?</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

  <div class="wrapper">
      <a href="{% url 'home' %}"><img width="700" height="150" src="{% static 'logo.png' %}"></a>
      <nav>
          <ul>
              {% if user.is_authenticated %}

              <li>
                  <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                      {% csrf_token %}
                      <button type="submit">Logout</button>
                  </form>
              </li>
              <li>
                  hi, {{user}}
              </li>
              <li>
                  <a href="{% url 'articles:create' %}"><button>add new article</button></a>
              </li>
              {% else %}
              <li><a href="{% url 'accounts:login' %}"><button>Login</button></a></li>
              <li><a href="{% url 'accounts:signup' %}"><button>Signup</button></a></li>
              {% endif %}
          </ul>
      </nav>
    {% block content%}

    {% endblock %}
  </div>

</body>
</html>